header {
    background-color: #997758;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-size: 4.5em;
    margin: 0;
}
p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 20px 0;
}